Mulesoft/gmail1/src/main/mule/gmail1.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:twilio="http://www.mulesoft.org/schema/mule/twilio" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:tls="http://www.mulesoft.org/schema/mule/tls"
	xmlns:email="http://www.mulesoft.org/schema/mule/email" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/email http://www.mulesoft.org/schema/mule/email/current/mule-email.xsd
http://www.mulesoft.org/schema/mule/tls http://www.mulesoft.org/schema/mule/tls/current/mule-tls.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/twilio http://www.mulesoft.org/schema/mule/twilio/current/mule-twilio.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="4c48c51d-fc8a-400d-87dc-e9fb88ffd68e" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<email:smtp-config name="Email_SMTP" doc:name="Email SMTP" doc:id="107e46b3-df8f-4b3f-b683-f0e061d3024d" >
		<email:smtps-connection host="smtp.gmail.com" user="naitik12345jain@gmail.com" password="Disach7na@" >
			<tls:context >
				<tls:trust-store insecure="true" />
			</tls:context>
		</email:smtps-connection>
	</email:smtp-config>
	<email:imap-config name="Email_IMAP" doc:name="Email IMAP" doc:id="e36431eb-a450-4420-98b3-bc0e09771d59" >
		<email:imaps-connection host="imap.gmail.com" user="naitik12345jain@gmail.com" password="Disach7na@" >
			<tls:context >
				<tls:trust-store insecure="true" />
			</tls:context>
		</email:imaps-connection>
	</email:imap-config>
	<twilio:config name="Twilio_Connector_Config" doc:name="Twilio Connector Config" doc:id="d88cbb54-54b4-4079-8900-e9908c278576" >
		<twilio:account-sid-auth-token-connection username="AC915b4e850ccc4084bc406c9d6ab8065d" password="d782fe64b2484f800eff0a3cf9916fc7" />
	</twilio:config>
	<flow name="sendmail" doc:id="075166fe-f845-42e3-9781-ac2e40a1b70e" >
		<http:listener doc:name="Listener" doc:id="6bdaf453-717a-4bdc-aed7-df63c99f4768" config-ref="HTTP_Listener_config" path="/sendmail" allowedMethods="POST"/>
		<logger level="INFO" doc:name="Logger" doc:id="2e675273-8bd5-434c-b4f4-b5e7957c1171" message="Ready for sending mail"/>
		<choice doc:name="Choice" doc:id="1276d67b-272a-4b80-9a3e-e00b1748b4a7" >
			<when expression='#[attributes.queryParams.attachment=="Y"]'>
				<email:send doc:name="Send" doc:id="a2a1ff43-2f9a-4200-9fe7-1186033cfe27" config-ref="Email_SMTP" fromAddress="naitik12345jain@gmail.com" subject="#[payload.subject]">
					<email:to-addresses >
						<email:to-address value="naitik54321jain@gmail.com" />
					</email:to-addresses>
					<email:body >
						<email:content ><![CDATA[#[payload.message]]]></email:content>
					</email:body>
					<email:attachments ><![CDATA[#[{
	"Hello_World.txt" : payload.message
}]]]></email:attachments>
				</email:send>
			</when>
			<otherwise >
				<email:send doc:name="Send" doc:id="cd58beec-9c73-44ef-9ce6-3cfcf936faf9" config-ref="Email_SMTP" fromAddress="naitik12345jain@gmail.com" subject="#[payload.subject]">
					<email:to-addresses >
						<email:to-address value="naitik54321jain@gmail.com" />
					</email:to-addresses>
					<email:body >
						<email:content ><![CDATA[#[payload.message]]]></email:content>
					</email:body>
				</email:send>
			</otherwise>
		</choice>
		<logger level="INFO" doc:name="Logger" doc:id="c72e8939-0d7a-4a4b-9163-cd0d1ec70797" message="Email sent!"/>
	</flow>
	<flow name="gmail1Flow" doc:id="801565cb-3f0b-426a-b65d-c91bdaab9eb6" >
		<http:listener doc:name="Listener" doc:id="be0ba732-41f1-4aa5-9b27-2b9bf5d82ebb" config-ref="HTTP_Listener_config" path="/expunge" allowedMethods="GET"/>
		<logger level="INFO" doc:name="Logger" doc:id="db4d98e2-d972-411b-afea-6cc56b33a442" />
		<email:list-imap doc:name="List - IMAP" doc:id="4819094d-8154-44c3-aaed-47faf8cf13fe" config-ref="Email_IMAP"/>
		<ee:transform doc:name="Transform Message" doc:id="a2f978ee-51ab-4c58-96be-4e344510e23e" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map (payload01, indexOfPayload01 ) -> {
	mail: {
		body: payload01.payload.body
	},
	attributes: {
		id: payload01.attibutes.id,
		number: payload01.attributes.number as String,
		fromEmailId: payload01.attributes.fromAddresses[0],
		toEmailId: payload01.attributes.toAddresses[0],
		subject: payload01.attributes.subject,
		receivedDate: payload01.attributes.receivedDate as String default "",
		sentDate: payload01.attributes.sentDate as String default "",
		flags: {
			deleted: payload01.attributes.flags.deleted as String default "",
			seen: payload01.attributes.flags.seen as String default "",
			answered: payload01.attributes.flags.answered as String default "",
			draft: payload01.attributes.flags.draft as String default "",
			recent: payload01.attributes.flags.recent as String default "",
		}
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<foreach doc:name="For Each" doc:id="5dd256be-18a6-4f14-a87d-bf533526225b" collection="#[payload.attributes]">
			<set-variable value="#[payload.id]" doc:name="Set Variable" doc:id="e0eaadfb-05dd-4f2d-ad03-bf40afd2a7d9" variableName="EmailID"/>
			<logger level="INFO" doc:name="Logger" doc:id="947222f7-2f14-4171-a828-d930f494d865" message="Mark as Deleted: #[payload]"/>
			<ee:transform doc:name="Transform Message" doc:id="936060ee-5da1-4c8e-b34c-95c6e45d59dd" >
				<ee:message >
					<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
vars.rootMessage.payload map (payload01, indexOfPayload01 ) -> {
	mail: payload01.mail,
	attributes: {
		id: payload01.attibutes.id,
		number: payload01.attributes.number,
		fromEmailId: payload01.attributes.fromEmailId,
		toEmailId: payload01.attributes.toEmailId,
		subject: payload01.attributes.subject,
		receivedDate: payload01.attributes.receivedDate,
		sentDate: payload01.attributes.sentDate,
		flags: {
			deleted: "true",
			seen: payload01.attributes.flags.seen,
			answered: payload01.attributes.flags.answered,
			draft: payload01.attributes.flags.draft,
			recent: payload01.attributes.flags.recent,
		}
	}
}]]></ee:set-payload>
				</ee:message>
			</ee:transform>
			<logger level="INFO" doc:name="Logger" doc:id="bec2d617-cf35-4227-957d-17615f24a2c3" message="After transformations: #[payload]"/>
			<email:mark-as-deleted emailId="#[vars.EmailID]" doc:name="Mark as deleted" doc:id="9ba6aef4-8d04-44a0-b2b6-e1f7726374d7" config-ref="Email_IMAP"/>
		</foreach>
		<logger level="INFO" doc:name="Logger" doc:id="57a3ac35-92b8-4d30-a55a-8b9e5f651a03" message='#["Marked Deletion Completed" :payload]'/>
		<email:expunge-folder doc:name="Expunge folder" doc:id="baf67899-ada5-4b8d-8d3a-da1298039091" config-ref="Email_IMAP"/>
	</flow>
	<flow name="markasread" doc:id="a820f162-abf0-4655-8618-825b3ba2a641" initialState="started">
		<email:listener-imap doc:name="On New Email - IMAP" doc:id="efecbfbf-2b6c-49f3-923e-1f935bfdb617" config-ref="Email_IMAP">
			<scheduling-strategy >
				<fixed-frequency />
			</scheduling-strategy>
		</email:listener-imap>
		<set-variable value="#[attributes.number]" doc:name="Set Variable" doc:id="3641410d-8df6-4e4b-9782-c86e69ba1985" variableName="MailId"/>
		<logger level="INFO" doc:name="Logger" doc:id="3ff4850d-e867-4d2c-8960-691fc123d465" message="Mark as read email triggered"/>
		<email:mark-as-read emailId="#[attributes.id]" doc:name="Mark as read" doc:id="ef497296-764e-497d-afa6-86a56e44e1b7" config-ref="Email_IMAP"/>
		<logger level="INFO" doc:name="Logger" doc:id="7903855d-2bf1-4bf4-8622-7278e8f54632" message='#["Marked mail for read": payload]'/>
	</flow>
	<flow name="DeleteMail" doc:id="a78e01e7-5f27-4be9-b771-ff4bf038221f" >
		<http:listener doc:name="Listener" doc:id="6bfbb497-4ec3-4e46-9ab8-fd42d9b9856d" config-ref="HTTP_Listener_config" path="/deleteMail" allowedMethods="GET"/>
		<set-variable value="#[attributes.id]" doc:name="Set Variable" doc:id="8d4fbdae-c5fa-4893-b27f-cc0fa73b839f" variableName="DeleteMail"/>
		<email:list-imap doc:name="List - IMAP" doc:id="5021be87-0860-46a8-8b51-fd712c860872" config-ref="Email_IMAP" mailboxFolder="#[vars.MainboxFolder]"/>
		<ee:transform doc:name="Transform Message" doc:id="1604f68d-a724-4d0e-85cb-cb17578b0cf9" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map (payload01, indexOfPayload01 ) -> {
	mail: {
		body: payload01.payload.body
	},
	attributes: {
		id: payload01.attibutes.id,
		number: payload01.attributes.number as String,
		fromEmailId: payload01.attributes.fromAddresses[0],
		toEmailId: payload01.attributes.toAddresses[0],
		subject: payload01.attributes.subject,
		receivedDate: payload01.attributes.receivedDate as String default "",
		sentDate: payload01.attributes.sentDate as String default "",
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="e6bea55b-0117-49f9-9e0c-4052be9ff9d9" message='#["Mail to be deleted": payload]'/>
		<email:delete emailId="#[payload.attributes.number[0]]" doc:name="Delete" doc:id="94c6ae9b-f0b0-49a7-8141-288f798cb7f4" config-ref="Email_IMAP" mailboxFolder="#[vars.MailboxFolder]"/>
		<logger level="INFO" doc:name="Logger" doc:id="0095fb91-b43f-4e17-a8e0-aee8571e400c" message='#["Mail Deleted"]'/>
	</flow>
</mule>
