Mulesoft/oauth-provider/src/main/mule/oauth-provider.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:oauth2-provider="http://www.mulesoft.org/schema/mule/oauth2-provider"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:os="http://www.mulesoft.org/schema/mule/os" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/oauth2-provider http://www.mulesoft.org/schema/mule/oauth2-provider/current/mule-oauth2-provider.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<os:object-store name="client_os" doc:name="Object store" doc:id="351d0acc-0809-4dd8-a7b6-871a975b8730" />
	<os:object-store name="token_os" doc:name="Object store" doc:id="21c42181-dda3-421f-a2a9-1c23f4ae1060" />
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="1dbff4ff-bfc4-42ac-9900-606692bbabd2" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<oauth2-provider:config name="OAuth2_Provider_Config" doc:name="OAuth2 Provider Config" doc:id="c8e517ad-aabd-45dc-bba0-3f7d6968d81a" listenerConfig="HTTP_Listener_config" clientStore="client_os" supportedGrantTypes="CLIENT_CREDENTIALS">
		<oauth2-provider:token-config tokenStore="token_os" />
	</oauth2-provider:config>
	<flow name="oauth-providerFlow" doc:id="e1ecb321-8676-4f63-bb92-2a018a35f110" >
		<http:listener doc:name="Listener" doc:id="db61090f-0751-4cf7-9c15-50f8291edcbb" config-ref="HTTP_Listener_config" path="/createClient"/>
		<oauth2-provider:create-client doc:name="Create client" doc:id="ba6d0e86-a3f0-478c-99d4-b0cfeb687c1f" config-ref="OAuth2_Provider_Config" clientId="#[attributes.headers.client_id]" secret="#[attributes.headers.client_secret]" clientName="#[attributes.headers.client_name]" description='#[""]' principal='#[""]' redirectUris='#[["hello.com"]]' authorizedGrantTypes='#[["CLIENT_CREDENTIALS"]]' failIfPresent="true" type="CONFIDENTIAL"/>
		<set-payload value='#["Client Created"]' doc:name="Set Payload" doc:id="65503946-8a88-4ae4-80de-9718c6efe1b3" />
	</flow>
	<flow name="oauth-providerFlow1" doc:id="16d72ad2-d5d9-44b2-b8be-b94197ed2323" >
		<http:listener doc:name="Listener" doc:id="8560c081-036f-49b5-96fc-43a8fe0bd95f" config-ref="HTTP_Listener_config" path="/validate"/>
		<oauth2-provider:validate-token doc:name="Validate token" doc:id="d09da404-e406-4161-930e-169062893c0d" config-ref="OAuth2_Provider_Config"/>
		<ee:transform doc:name="Transform Message" doc:id="077df682-4ae7-4d82-8f68-80925de0aa59" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
